@font-face {
  font-family: Azoft;
  src: url(fonts/Azoft-sans.ttf)
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: aliceblue;
  font-family: Azoft, sans-serif;;
}

.button {
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  transition: all 200ms ease-in;
  border-radius: 7px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000 url("./img/master/bg-bottom-red.png") center bottom 190px no-repeat;
  background-size: 85%;
  padding-top: 50px;
  padding-bottom: 91px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1480px;
}

